.ajout-avis-component {
    width: 98%;
}
h1, p {
    text-align: center;
}
form {
    margin: 2rem;
}
section {
    width: 95%;
}
.gras {
    font-weight: 600;
}
mat-label {
    display: block;
    margin-top: 1rem;
}
input[type="text"], input[type="email"], select, textarea {
    width: 100%;
    padding: 1rem;
    margin-top: 0.5rem;
}
.alert-danger {
    color: red;
}
.submit-bn {
    margin-right: 20px;
}